.about_us_section {
    display: flex;
    gap: 5%;
    padding: 0% 12% 0% 15%;
    margin: 0% auto 0% auto;
}

.about_us_label {
    font-size: 18px;
    font-family: opensans;
    color: #212529;
    font-weight: bold;
}

.about_us_heading1 {
    font-size: 16px;
    font-family: opensans;
    color: #212529;
    padding-top: 2%;
}

.about_us_heading2 {
    font-size: 16px;
    font-family: opensans;
    color: #212529;
    padding-top: 2%;
}

.about_us_heading3 {
    font-size: 16px;
    font-family: opensans;
    color: #212529;
    padding-top: 2%;
}

.about_us_body {
    font-size: 16px;
    font-family: opensans;
    color: #212529;
    padding-top: 3%;
    font-weight: bold;
}

.about_us_image {
    width: 42vw;
    position: relative;
}

#block-views-block-about-us-view-block-1 h2 {
    text-align: center;
    font-size: 13px;
    color: #7f7f90;
    font-size: opensans;
    padding-top: 3%;
}

#block-views-block-about-us-view-block-1 .content .view-header {
    text-align: center;
    font-size: 48px;
    font-family: amatic;
    color: #212529;
    padding-bottom: 1%;
}

.about_us_heading1 svg {
    color: #ce2121;
}

.about_us_heading2 svg {
    color: #ce2121;
}

.about_us_heading3 svg {
    color: #ce2121;
}

.about_us_link {
    width: 94px;
    height: 94px;
    background: radial-gradient(#F82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-left: 40%;
    cursor: pointer;
    margin-top: -39%;
}

.about_us_link a {
    display: none;
}

.about_us_link::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about_us_link::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.about_us_link:hover::after {
    border-left: 15px solid #F82249;
    transform: scale(20);
}

.about_us_link:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

.about_us_image::before {
    content: 'Book a Table  +155895548855';
    background-color: white;
    background-size: 30px 10px;
    width: 616px;
    height: 132px;
    position: absolute;
    bottom: 10%;
    left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: opensans;
}