.body{
  height: 50px;
  width: 600px;
  margin-bottom: 2%;
}
.title{
    height: 50px;
    width: 600px;
    margin: 2% 0% 2% 0%;
}
.namee{
    height: 50px;
    width: 600px;
}
input{
    font-size: 20px;
    text-align: center;
}
button{
    height: 50px;
    width: 600px;
    background-color: blue;
    color: white;
}
.left h2{
    text-align: center;
    color: red;
}
.left{
    text-align: center;
    margin: auto;
    margin-top: 8%;
}
.right{
    text-align: center;
    margin-top: 5%;
}
#create_form p{
    display: none;
    color: red;
}
.article_container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 400px;
    margin: 1%;
}
.article_image img{
    height: 400px;
}
.flex_box_child{
    padding-top: 6%;
}
.author_name{
    font-size: 20px;
}
.article_title{
    font-size: 40px;
    font-weight: bolder;
}
.article_body{
    font-size: 18px;
    margin-bottom: 10%;
}
