@font-face {
    font-family: novabold;
    src: url(Bold.otf);
}

@font-face {
    font-family: novaregular;
    src: url(Regular.otf);
}

.container1 {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
}

.container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
}

.p2-1 {
    grid-column: 1/3;
    width: 53%;
}

.container3 {
    margin-left: 22%;
    margin-right: 33%;
    padding-top: 5%;
}

.container4 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    background-color: #EBF0F0;
}

.p4-1 {
    grid-column: 1/3;
    margin-top: 4%;
}

.container5 {
    background-color: #3787C8;
    margin: 15%;
}

.container6 {
    background-color: #EBF0F0;
    margin: 15%;
    margin-top: 7%;
    padding-top: 7%;
}

.c6i {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 15%;
    margin-right: 15%;
}

.c6j {
    margin-left: 25%;
    margin-right: 15%;
}

.c6k {
    background-color: #232526;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 7px;
}

.spandiv {
    align-items: center;
}

.span1 {
    font-family: novabold;
    font-size: 16pt;
    color: #3787C8;
    margin-left: 34%;
}

.span2 {
    font-family: novabold;
    font-size: 16px;
    color: #FAAF41;
    margin-left: 1%;
}

.span3 {
    font-family: novabold;
    font-size: 16px;
    color: #E14B32;
    margin-left: 1%;
}

.footer {
    margin-left: -8%;
    color: #A5A5A5;
    margin-top: 5%;
}

p {
    font-family: novaregular;
    font-size: 24px;
    color: #555F64;
    margin-left: -2%;
}

h1 {
    font-family: novabold;
    font-size: 36px;
    margin: 5%;
    margin-left: -3%;
    padding-left: 10%;
    padding-top: 2%;
}

h3 {
    font-family: novabold;
    font-size: 24px;
    padding-top: 5%;
    padding-left: 7%;
}

h4 {
    font-family: novabold;
    font-size: 24px;
    padding-left: 5px;
}

h5 {
    font-family: novabold;
    font-size: 16px;
}

h6 {
    font-family: novaregular;
    color: #A5A5A5;
    font-size: 12pt;
    text-align: center;
    padding-top: 2%;
}

.body {
    font-family: novaregular;
    font-size: 16px;
}

.head {
    font-family: novabold;
    font-size: 20px;
    color: #232526;
}

.line {
    background-color: #f04515;
    width: 60px;
    height: 1px;
    margin-left: 13%;
    margin-top: -10px;
}

.articles {
    padding-left: 1%;
}

.p4-3b {
    padding-left: 60%;
}

* {
    margin: 0%;
    padding: 0%;
}

.main-container {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
}

.nav-font {
    font-family: novabold;
    font-size: 18px;
}

.img-logo {
    padding-right: 10%;
}

.navbar .collapse .navbar-nav .btn-gap {
    padding-right: 80px
}

.navbar .collapse .navbar-nav .btn-red {
    color: #E14B32;
}

.navbar .collapse .navbar-nav .nav-hr-width {
    width: 60px;
    padding-right: 0;
    height: 3px;
    margin-top: 8px;
}

.img-fluid {
    max-width: 54%;
    height: auto;
}

.sub-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.sub-container .sub1 {
    font-size: 48pt;
}

.Section-5 {
    margin-top: 90px;
    background-color: #3787C8;
    background-image: url(red.png);
    background-size: 620px;
    background-position-x: 40%;
    background-position-y: -5%;
    height: 380px;
    background-repeat: no-repeat;
}

.heading2 {
    font-family: novabold;
    font-size: 16px;
    color: #FFF;
    padding-top: 90px;
    padding-left: 130px;
}

.content4 {
    font-family: novabold;
    font-size: 48px;
    padding-left: 130px;
    color: #FFF;
}

.outline {
    font-family: novabold;
    font-size: 48px;
    padding-left: 130px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
}

.image4 {
    margin-left: 55%;
    margin-top: -17.5%;
    margin-left: 63%;
}

.innovation {
    padding-left: 30%;
    padding-top: 1%;
}

.goals {
    padding-top: 8%;
    margin-left: -2.2%;
}

.top {
    padding-left: 7%;
}

.leader {
    padding-left: 10%;
}

.photo2 {
    padding-top: 5%;
}

.inov2 {
    padding-top: 5%;
}

.cred {
    margin-top: -7%;
    margin-left: -7%;
}

.p4-2 {
    margin-top: 8%;
}

.p4-3 {
    margin-top: 8%;
}